* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #bbaaaa;
  font-size: 15px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  background-image: url('https://images.pexels.com/photos/1172064/pexels-photo-1172064.jpeg?cs=srgb&dl=pexels-alexandr-podvalny-1172064.jpg&fm=jpg');
  background-size: fit;
  background-repeat: no-repeat;
}

.content {
  width: auto;
  height: auto;
  position: absolute; /*Can also be `fixed`*/
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
}

.container {
  width: 520px;
  height: 100px;
  min-height: 100px;
  margin-top: 20%;
  margin-left: 25%;
  border-radius: 5px;
  text-align: center;
}

.age {
  margin: 100px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

#ageText {
  margin-top: 15px;
}

#dob-picker {
  margin-top: 15px;
}
